<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/styles.css" />
  <title>Sign Up - Job PrepMate</title>
</head>
<body>
  <div class="card form-card">
    <h2>📝 Create an Account</h2> <br>
    <form method="post" action="/signup">
      <label>Username:</label>
      <input type="text" name="username" required>
      <br>
      <label>Password:</label>
      <input type="password" name="password" required>
      <br>
      <button type="submit" class="btn">Sign Up</button>
    </form>
    <p style="color: var(--primary-color);">{{message}}</p>
    <p>Already have an account? <a href="/login" style="color:#c1fff0;">Login</a></p>
  </div>
</body>
</html>
